@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes FadeIn {
        0%{
            opacity: 0;
            transform: translateY(-20px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes ImgFadeIn {
        0%{
            opacity: 0;
            /* transform: translateY(-20px); */
        }
        100%{
            opacity: 1;
            /* transform: translateY(0px); */
        }
    }

}

.animate-fadeIn{
    animation: FadeIn 1s ease-in-out;
}

.animate-imgFadeIn{
    animation: ImgFadeIn 1s ease-in-out;
}