@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-left-to-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@layer utilities {

    .animate-slide-left-to-right {
        animation: slide-left-to-right 1.5s ease-out forwards;
    }

    .delay-1000 {
        animation-delay: 1000ms;
    }

    .delay-2000 {
        animation-delay: 2000ms;
    }

}